header {
  background-color: rgb(86, 165, 7);
  width: 100vw;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container {
  width: 22rem;
  margin: 0 auto;
  padding: 0.2rem;
}

.row {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
}

.column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  padding: 0;
}

form {
  width: 21rem;
}

input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}
