header {
  background-color: #3f8748;
  width: 100vw;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  padding: 0.2rem 0.5rem;
}

.row {
  display: flex;
  margin: 1.4rem auto;
  justify-content: center;
}

.column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  padding-left: 0.3rem;
  width: 9rem;
}

form {
  width: 100%;
  max-height: min-content;
}

input {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  padding: 0 1rem 0 1rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}

#back-button {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  height: min-content;
}

.button {
  width: 8rem;
  height: 2rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.main-img {
  width: 8rem;
  height: 12rem;
  object-fit: cover;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.list-item {
  display: flex;
  margin: 1rem auto;
  transition: transform 0.3s;
}

.column-75 {
  flex-basis: 75%;
}

.column-25 {
  flex-basis: 25%;
}

.column100 {
  flex-basis: 100%;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0 1rem;
}

.entry {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.char-entry {
  margin: 1rem 0;
}

.location-entry,
.episode-entry {
  margin: 0 0 1rem 0;
}

.save-button,
.delete-button {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: white;
  border: solid thin rgb(88, 87, 87);
  border-radius: 0.2rem;
  outline: none;
}

.fav-category {
  color: white;
  font-size: 2rem;
  margin: 1rem auto;
  text-align: center;
}

.no-favs {
  background-color: white;
  border-radius: 0.2rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.dynamic {
  display: none;
}

.series-button-row {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 2rem auto;
}

.inactive,
.active-category {
  font-size: 1rem;
  width: 100%;
  outline: none;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
}

.active-category {
  background-color: #3f8748;
  color: white;
}

.list-img {
  width: 100%;
  height: 100%;
}

.title-row {
  display: flex;
  align-items: center;
  max-height: min-content;
  margin: 1.4rem 0 1rem 0;
}

h1#page-title {
  margin: 0 0.5rem;
  color: white;
}

.loader {
  margin: auto;
  border: 15px solid white;
  border-top: 15px solid #3f8748;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 350px) {
  .container {
    width: 22rem;
    padding: 0 0.2rem;
  }

  .main-img {
    width: 10rem;
    height: 14rem;
  }

  .button {
    width: 10rem;
    height: 3rem;
  }
}

@media screen and (min-width: 568px) {
  .main-header {
    padding-left: 1rem;
  }

  .container {
    width: 35rem;
    margin: auto;
  }

  .main-img {
    width: 15rem;
  }

  .button {
    width: 15rem;
  }

  .list-item {
    width: 34rem;
    height: 12rem;
  }

  .column-75 {
    flex-basis: 70%;
  }

  .column-25 {
    flex-basis: 30%;
  }

  .content {
    flex-direction: row;
  }

  .char-entry {
    margin: 0 0 0 1rem;
  }

  .save-button,
  .delete-button {
    margin: 1rem auto 0 auto;
    width: 100%;
  }

  .no-favs {
    width: 32rem;
    margin: auto;
  }

  .entry-img {
    width: 20rem;
    height: 100%;
  }

  .list-img {
    width: 100%;
    height: 12rem;
  }

  form {
    display: flex;
  }

  select {
    width: 57%;
    height: 3rem;
    margin: 0 0.2rem;
  }

  #back-button {
    padding: 0.5rem 0.6rem;
  }

  .row {
    max-height: 210px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 45rem;
    margin: auto;
    position: relative;
  }

  form {
    width: 30rem;
  }

  select {
    width: 40%;
  }

  .main-img {
    width: 20rem;
  }

  .button {
    width: 20rem;
  }

  .entry {
    width: 40rem;
    margin: auto;
  }

  .entry-page {
    margin: 1.4rem 0;
  }

  .row {
    justify-content: flex-start;
    max-height: 250px;
  }

  .ajax-ul {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    width: 21rem;
    height: 9rem;
    margin: 1rem auto;
  }

  .fav-category {
    width: 45rem;
  }

  .list-img {
    height: 9rem;
  }

  #search-bar {
    margin: 0;
    position: absolute;
    top: -5.4rem;
    right: 1rem;
  }

  .dynamic {
    display: initial;
  }
}

@media screen and (min-width: 1040px) {
  .container {
    width: 60rem;
    margin: auto;
  }

  .main-img {
    width: 28rem;
  }

  .button {
    width: 28rem;
  }

  .list-item {
    width: 28rem;
    height: 10rem;
  }

  .list-img {
    height: 10rem;
  }

  .fav-category {
    width: 60rem;
  }

  form {
    width: 35rem;
  }

  select {
    width: 55%;
  }
}
