body {
  background-color: rgb(88, 87, 87);
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  max-width: 100%;
}

.category-select {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  max-width: 100%;
}

.season-selector {
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
}

.seasons-label {
  color: white;
  margin-right: 10px;
}

.season-button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  margin: 0 5px;
  background-color: white;
  transition: background-color 0.3s;
  font-size: 14px;
}

.season-button:hover {
  background-color: black;
  color: white;
}

.season-active {
  background-color: #3f8748;
  color: white;
}

.hidden {
  display: none !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ajax-ul {
  margin-bottom: 0;
}

.column100,
#back-button,
#entry-back,
.inactive,
.list-arrow {
  transition: background-color 0.3s;
}

.column-75 {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  background-color: white;
  transition: background-color 0.3s;
}

.column-25 {
  width: 4rem;
  height: 7rem;
}

.list-img {
  object-fit: cover;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.character-name {
  margin: 1rem 1rem;
}

.entry {
  background-color: white;
  border-radius: 0.6rem;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

.entry-name {
  margin: 0 0.5rem;
}

.entry-title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 0;
}

#back-button,
#entry-back {
  font-size: 1.5rem;
  background-color: white;
  border-radius: 0.6rem;
  margin-right: 0.3rem;
  border: none;
  box-shadow: 0 1px 3px gray;
  width: 40px;
  height: 40px;
}

.arrow-row {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem 1rem 1rem;
}

#lower-arrow-row {
  margin: 1rem;
}

.list-arrow {
  background-color: white;
  border-radius: 0.6rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
  box-shadow: 0 1px 3px gray;
}

#upper-right {
  margin-right: 0;
}

#lower-left,
#lower-right {
  box-shadow: 0 1px 3px #383838;
}

.la {
  font-size: 2.5rem;
}

.save-button {
  background-color: #3f8748;
}

.delete-button {
  background-color: rgb(171, 43, 43);
}

.series {
  padding-left: 0.5rem;
}

.column {
  transition: transform 0.3s;
}

.message {
  margin-top: 0;
}

.fav-entry {
  margin-top: 1.4rem;
}

.about-container {
  padding: 0.2rem 1rem 1rem;
  font-size: 18px;
}

.about {
  color: white;
  line-height: 2.2rem;
}

.main-img:hover,
.list-img:hover,
.character-name:hover,
.column-75:hover,
.column100:hover,
.main-header:hover,
.la:hover,
.list-arrow:hover,
#back-button:hover,
button:hover,
select:hover,
#entry-back:hover,
.spoiler-button-container {
  cursor: pointer;
}

.list-item:hover .column-75,
.column100:hover,
.inactive:hover,
#back-button:hover,
#entry-back:hover,
.list-arrow:hover {
  background-color: black;
  color: white;
}

.main-img:active {
  color: rgba(88, 87, 87, 0.3);
}
