body {
  background-color: rgb(88, 87, 87);
}

main {
  font-family: 'Hind Siliguri', sans-serif;
}

h2 {
  font-family: 'Work Sans', sans-serif;
}

.hidden {
  display: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ajax-ul {
  margin-top: -1rem;
  margin-bottom: 0;
}

.column-75 {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-color: white;
}

.column-25 {
  width: 4rem;
  height: 7rem;
}

.list-img {
  object-fit: cover;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.character-name {
  margin: 1rem 1rem;
}

.entry {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

.entry-name {
  margin: 0 0 0.5rem 0;
}

#back-button {
  font-size: 2rem;
  background-color: white;
  border-radius: 0.2rem;
  margin-right: 0.3rem;
}

.arrow-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.list-arrow {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
}

.la {
  font-size: 2.5rem;
}

.save-button {
  background-color: rgb(39, 77, 33);
}

.delete-button {
  background-color: rgb(171, 43, 43);
}

.main-img:hover,
.list-img:hover,
.character-name:hover,
.column-75:hover,
.column100:hover,
.main-header:hover,
.la:hover,
.list-arrow:hover,
#back-button:hover,
button:hover {
  cursor: pointer;
}
