body {
  background-color: rgb(88, 87, 87);
}

* {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

.hidden {
  display: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ajax-ul {
  margin-bottom: 0;
}

.column-75 {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-color: white;
}

.column-25 {
  width: 4rem;
  height: 7rem;
}

.list-img {
  object-fit: cover;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.character-name {
  margin: 1rem 1rem;
}

.entry {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

.entry-name {
  margin: 0 0.5rem;
}

.entry-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

#back-button,
#entry-back {
  font-size: 2rem;
  background-color: white;
  border-radius: 0.2rem;
  margin-right: 0.3rem;
}

.arrow-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.list-arrow {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
}

.la {
  font-size: 2.5rem;
}

.save-button {
  background-color: #3f8748;
}

.delete-button {
  background-color: rgb(171, 43, 43);
}

.series {
  padding-left: 0.5rem;
}

.column {
  transition: transform 0.3s;
}

.message {
  margin-top: 0;
}

.main-img:hover,
.list-img:hover,
.character-name:hover,
.column-75:hover,
.column100:hover,
.main-header:hover,
.la:hover,
.list-arrow:hover,
#back-button:hover,
button:hover,
select:hover,
#entry-back:hover {
  cursor: pointer;
}

.inactive:hover,
#back-button:hover {
  background-color: lightgray;
}

.column:hover,
.list-item:hover {
  transform: scale(1.04);
}

.main-img:active {
  color: rgba(88, 87, 87, 0.3);
}
